include inc/mixins

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
html
    head
        title name
    body
        link(rel="stylesheet", href="css/common.css")
        
        +table(595, 'center').b-main
